[Unit]
Description=Resolve DNS queries over HTTPS. 
After=network.target

[Service]
User=nobody
Group=nogroup
EnvironmentFile=-/etc/default/https-dns-proxy
ExecStart=/usr/bin/https_dns_proxy ${DAEMON_ARGS}

[Install]
WantedBy=multi-user.target
